.box {
height: 778px;
width: 1440px;
}

.box .group {
height: 778px;
left: 0;
position: fixed;
top: 0;
width: 1440px;
}

.box .overlap-wrapper {
height: 778px;
}

.box .frame {
background-color: #f5f5f5;
height: 505px;
left: 0;
position: absolute;
top: 0;
width: 1440px;
}

.box .overlap-group {
height: 241px;
left: 96px;
position: absolute;
top: 64px;
width: 753px;
}

.box .div {
height: 241px;
left: 0;
position: absolute;
top: 0;
width: 753px;
}

.box .image {
height: 147px;
left: 525px;
position: absolute;
top: 94px;
width: 208px;
}

.box .frame-2 {
align-item: flex-start;
display: inline-flex;
flex-direction: column;
gap: 20px;
left: 0;
position: absolute;
top: 0;
}

.box .frame-3 {
align-items: center;
display: inline-flex;
flex: 0 0 auto;
gap: 14px;
justify-content: center;
position: relative;
}

.box .mask-group {
height: 44px;
position: relative;
width: 44px;
}

.box .frame-4 {
align-items: flex-start;
display: inline-flex;
flex: 0 0 auto;
flex-direction: column;
position: relative;
}

.box .text-wrapper {
color: #121212;
font-family: "Rubik-regular", Helvetica;
font-size: 18px;
font-weight: 400;
letter-spacing: -0.36;
line-height: 24px;
margin-top: -1.00px;
position: relative;
text-align: center;
white-space: nowrap;
width: fit-content;
}

.box .text-wrapper-2 {
color: #121212;
font-family: "Opens Sans-Regular", Helvetica;
font-size: 16px;
font-weight: 400;
letter-spacing: -0.32px;
line-height: 22px;
position: relative;
text-align: center;
white-space: nowrap;
width: fit-content;
}

.box .i-ve-always-been{
color: #4f4f4f;
font-family: "Open Sans-Regular", Helvetica;
font-size: 18px;
font-weight: 400;
letter-spacing: -0.36px;
line-height: 28px;
position: relative;
width: 539px;
}

.box .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}
.box .star {
    height: 20.8px;
    position: relative;
    width: 21.87px;
}

.box .frame-6 {
    align-items: center;
    display: inline-flex;
    gap: 24px;
    justify-content: center;
    left: 665px;
    position: absolute;
    top: 1px;
}

.box .carousel {
    border-color: #dadada !important;
}

.box .text-wrapper-3 {
    color: #121212;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 112px;
    left: 948px;
    letter-spacing: -1.38px;
    line-height: 56px;
    position: absolute;
    top: 186px;
    width: 311px;
}

.box .p {
    color: #4f4f4f
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 53px;
    left: 948px;
    letter-spacing: -0.36px;
    line-height: 26px;
    position: absolute;
    top: 341px;
    width: 347px;
}

.box .text-wrapper-5 {
    color: #121212;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 28px;
    left: 948px;
    letter-spacing: -0.36px;
    line-height: 28px;
    position: absolute;
    top: 404px;
    width: 347px;

}

.box-subscribe-form {
    background-color: #f5f5f5;
    height: 82px;
    width: 667px;
    left: 620px;
    position: absolute;
    top: 130px;
    width: 667px;
}

.box .button-instance {
    left: 490px !important;
    position: absolute !important;
    top: 14px !important;
}

.box .frame-8 {
    align-items: center;
    display: inline-flex;
    gap: 14px;
    left: 24px;
    position: absolute;
    top: 26px;
}

.box .text-wrapper-6 {
    color: #a7a7a7;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.40px;
    line-height: 30px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.box .image-form-rawpixel {
    height: 422px;
    position: absolute;
    width: 837px;
    left: 0;
    top: 213px;
}